<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zoo Restaurant</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>

<body>
    <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h2>Zoo Restaurant</h2></a>
            </div><!-- navbar-header -->
            <div id="navbar" class="navbar-collapse collapse">

                <div class="hidden-xs" id="logo">
                    <a href="#header">
                        <img src="~/Content/Images/zooLogo.png" alt="logo">
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#story">За Нас</a></li>
                    <li><a href="#food-menu">Меню</a></li>
                    <li><a href="#reservation">Резервации</a></li>
                    <li><a href="#gallery">Галерия</a></li>
                    <li><a href="#deliveries">Доставки</a></li>

                    @Html.Partial("_LoginPartial")
                    <!--fix for scroll spy active menu element-->
                    <li style="display: none;"><a href="#header"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Zoo Restaurant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
